<div>

    <form action="/add" method="post">

        <h2></h2>

        <div>
            <a href="/logout">Logout</a>
        </div>

        <div class="error">
            {{messages.error}}
        </div>
        <div class="success">
            {{messages.success}}
        </div>

        <div class="field">
            <label for="username">Username</label>
            {{user.username}}
        </div>


</div>