<h1>LoginSpaza</h1>



<form action="/spazaLogin" method="post">

     <div class="error">
            {{messages.error}}
        </div>
        <div class="success">
            {{messages.success}}
        </div>

    <div class="field">
        <label for="data">spazaLogin code</label>
        <input type="text" name="code" autocomplete="off" >
    </div>

    <input type="submit" value="Login">


</form>