<h1>Register spaza</h1>


<form action="/registerSpaza" method="post">
     <div class="success">
        {{messages.success}}
    </div>

    <div class="error">
        {{messages.error}}
    </div>

    <div class="field">
        <label for="data">SpazaUsername</label>
        <input type="text" name="username">
    </div>

    <input type="submit">
</form>